@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lora:ital,wght@0,400;1,400;1,500&family=Oswald:wght@200..700&display=swap');
a img{
    height: 70px;
    width: 100px;
}
.navbar{
    background-color: #f2e2ba;
}
li a{
    font-family: "Anton", sans-serif;
    color: #143601;
    font-size: 15px;
    padding-top: 45px;
}